body {
  padding: 0;
  margin: 0;
  font-family: "Questrial", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #070707;
}
.container {
  margin: 0 auto;
  padding: 0 35px;
  width: 100%;
  max-width: 1240px;
}
.pageCover {
  overflow: hidden;
}
h1 {
  font-size: 47px;
  padding: 150px 0 0 0;
  margin: 0 0 0 360px;
  display: block;
  width: 500px;
}

.titleImg {
  position: absolute;
  left: 0;
  bottom: -46px;
  width: 350px;
  height: 350px;
}
code {
  display: block;
  color: #828282;
  margin: 10px 15px;
  font-size: 14px;
  word-wrap: break-word;
}

mark {
  background-color: transparent;
  font-style: italic;
  font-weight: 500;
}
.blockTopic {
  padding: 10px 15px;
  margin: 0 0 10px;
  background: #f6f6f6;
}
.blockLine {
  width: 100%;
  height: 1px;
  background-color: #828282;
  margin: 30px 0 40px;
  position: relative;
}
p code {
  display: inline;
}
img {
  height: 120px;
}
.scrollToTop {
  position: fixed;
  border-radius: 50%;
  cursor: pointer;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #070707;
  display: none;
  color: black;
}
.scrollToTop:hover {
  color: white;
  background-color: #070707;
  border: 1px solid #070707;
}
.spanName {
  font-family: monospace;
  background-color: #f4f4f4;
  padding: 2px 6px;
  border-radius: 4px;
  color: #d63384;
  font-size: 14px;
}
@media (max-width: 1240px) {
  .container {
    max-width: none;
    padding: 0 15px;
    width: calc(100% - 30px);
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 38px;
    padding: 100px 0 0 0;
    margin: 0 0 0 209px;
    display: block;
    width: 400px;
  }

  .titleImg {
    position: absolute;
    left: -10px;
    bottom: -27px;
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 30px;
    padding: 75px 0 0 0;
    margin: 0 0 0 0;
    display: block;
    width: 200px;
  }

  .titleImg {
    position: absolute;
    left: auto;
    right: -20px;
    bottom: -25px;
    width: 190px;
    height: 190px;
  }
  .blockLine {
    width: 100%;
    height: 1px;
    background-color: #828282;
    margin: 31px 0 40px;
  }
  div img {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .titleImg {
    position: absolute;
    left: auto;
    right: -20px;
    bottom: -18px;
    width: 140px;
    height: 140px;
  }
}
